.field-table {
	display: table; 
}

#root {
	position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* Положение слоя от левого края */
    top: 50%; /* Положение слоя от верхнего края */
    margin-left: -150px; /* Отступ слева */
	margin-top: -150px;	/* Отступ сверху */
}

.field-row {
	display: table-row;
}

.field-cell {
	border: 1px solid #000000;
	display: table-cell;
	width: 90px;
	height: 90px;
	text-align: center;
	vertical-align: middle;
}

.noClick {
	pointer-events: none;
 }

.footer {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000000;
	background-color: #b37417;
}

 .invisible {
	 display : none;
 }